.select {
    width: 100px;
}

.main {
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
    width: 100px;
    text-align: center;
    cursor: default;
    font-weight: bold;
}

.items {
    position: absolute;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    margin-top: 10px;
}

.item {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    cursor: default;
}

/*.item:hover {*/
/*    background-color: blue;*/
/*    color: white;*/
/*}*/
.item.selected {
    background-color: blue;
    color: white;
}

